

@font-face {
  font-family: 'punk';
  src: url('punk_rock_font/punk_rockf.ttf');
        font-weight: normal;
        font-style: normal;
}

@font-face {
  font-family: 'cloud';
  src: url('cloude/Cloude_Regular_1.02.otf');
      font-weight: normal;
      font-style: normal;
  }

html, body{ 

  color: white;
  caret-color: transparent;
  height: 100%;
  margin: 0;
  background-image: url(back/felt.png);
  background-size: cover;
  scroll-behavior: none;
  overflow: hidden;
}


  #key img{
    width: 100%;
    object-fit: contain;
    overflow: hidden;
  }
  
  #key img:last-child {
    display: none;  
  }
  #key:hover img:last-child {
    display: block;  
  }
  #key:hover img:first-child {
    display: none;  
  }

  .angel{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 20vw;
    width: 60vw;
  }

  .baby{ 
    position: absolute;
    z-index: 2;
    top: 20vh;
    left: 0;
    width: 70vw;

  }

  .boy{ 
    position: absolute;
    z-index: 3;
    top: 5vw;
    right: 0;
    width: 40vw;

  }

  .ball{ 
    position: absolute;
    z-index: 4;
    top: 10vh;
    left: 0;
    width: 40vw;

  }

  .bug{ 
    position: absolute;
    z-index: 5;
    top: 40vh;
    left: -20vw;
    width: 70vw;

  }

  .butter{ 
    position: absolute;
    z-index: 6;
    top: 0;
    left: 0;
    width: 20vw;

  }

  .heels{ 
    position: absolute;
    z-index: 7;
    top: 30vh;
    left: 50vw;
    width: 60vw;


  }

  .paint{ 
    position: absolute;
    z-index: 8;
    top: 30vh;
    left: 50vw;
    width: 60vw;

  }

  .smoke{ 
    position: absolute;
    z-index: 9;
    top: 20vh;
    left: 50vw;
    width: 30vw;

  }

  .snail{ 
    position: absolute;
    z-index: 10;
    top: 20vh;
    left: 20vw;
    width: 70vw;

  }



.canvas {
    width: 100%;
    height: 100%;
    background: url("back/bella.mp4") no-repeat center;
    background-size: cover;
}

.searchlight {
    position: absolute;
    z-index: 100;
    height: 300px;
    width: 300px;
    border-width: 100vh 100vw;
    border-style: solid;
    border-color: #000;
    top: -100vh;
    left: -100vw;
    cursor: none;
    background: #000;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -ms-box-sizing: content-box;
    box-sizing: content-box;
}
.searchlight.on {
    background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,1) 60%, rgba(0,0,0,1) 100%); /* FF3.6+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,1) 60%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,1) 60%,rgba(0,0,0,1) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,1) 60%,rgba(0,0,0,1) 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,1) 60%,rgba(0,0,0,1) 100%); /* W3C */
}
