html, body{
    margin:0;
    cursor: url('https://github.com/itsyunotyou/uthanized/blob/94352c7f3c4450c3ed66f74528eae64f85d05826/whee/light.png?raw=true'), auto;
    caret-color: transparent;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    margin: 0;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; 
    background-image: url("back/grey.png");
    background-attachment: fixed;
    background-size: cover;
}




  #key img{
    width: 100%;
    object-fit: contain;
    overflow: hidden;
  }
  
  #key img:last-child {
    display: none;  
  }
  #key:hover img:last-child {
    display: block;  
  }
  #key:hover img:first-child {
    display: none;  
  }

  .angel{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 20vw;
    width: 60vw;
  }

  .baby{ 
    position: absolute;
    z-index: 2;
    top: 20vh;
    left: 0;
    width: 70vw;

  }

  .boy{ 
    position: absolute;
    z-index: 3;
    top: 5vw;
    right: 0;
    width: 40vw;

  }

  .ball{ 
    position: absolute;
    z-index: 4;
    top: 10vh;
    left: 0;
    width: 40vw;

  }

  .bug{ 
    position: absolute;
    z-index: 5;
    top: 40vh;
    left: -20vw;
    width: 70vw;

  }

  .butter{ 
    position: absolute;
    z-index: 6;
    top: 0;
    left: 0;
    width: 20vw;

  }

  .heels{ 
    position: absolute;
    z-index: 7;
    top: 30vh;
    left: 50vw;
    width: 60vw;


  }

  .paint{ 
    position: absolute;
    z-index: 8;
    top: 30vh;
    left: 50vw;
    width: 60vw;

  }

  .smoke{ 
    position: absolute;
    z-index: 9;
    top: 20vh;
    left: 50vw;
    width: 30vw;

  }

  .snail{ 
    position: absolute;
    z-index: 10;
    top: 20vh;
    left: 20vw;
    width: 70vw;

  }