@font-face {
  font-family: 'cursive3';
  src: url('cursive/Cursive.ttf');
        font-weight: normal;
        font-style: normal;
}

@font-face {
  font-family: 'cloud';
  src: url('cloude/Cloude_Regular_1.02.otf');
        font-weight: normal;
        font-style: normal;
}

@font-face {
  font-family: 'japan';
  src: url('japanese/PixelMplus10-Regular.ttf');
        font-weight: normal;
        font-style: normal;
}


html, body{ 
  font-family: cursive3;
  text-align: center;
  color: white;
  caret-color: transparent;
  height: 100%;
  margin: 0;
}

.no-webp html, body {
  background-attachment: fixed;
  background-size: cover;
  background-color: black;
  background-image: url("back/mesh.JPG");
}

.webp html, body{
  background-image: url("back/mesh.webp");
  background-attachment: fixed;
  background-size: cover;
  background-color: black;
}
  
.magic{
  position: relative;
  overflow-x: hidden; 
  margin: 0;
  padding: 0;
}


.home{
  position: fixed;
  display: absolute;
  z-index: 20;
  top: 20px;
  right: 20px;
  height: 100px;
}


.home :hover{
  content: url('https://github.com/itsyunotyou/uthanized/blob/5031ca5bdbea9956ebed1396797a1458fd2d40da/whee/brokenheart.png?raw=true');
  height: 100px;
  position: fixed;
  display: absolute;
  z-index: 20;
  top: 20px;
  right: 20px;

}

.home img{
  height: 100px;
}

.home :hover img{
  height: 100px;
}




.wrap {
  -webkit-perspective: 800px;
  perspective: 800px;
  -webkit-perspective-origin: 50% 100px;
  perspective-origin: 50% 100px;
  margin-top: 10%;
  position: relative;
  height: 600px;
  
  }
  
  
  
  .cube {
  width: 400px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  margin: 0 auto;     
  -webkit-animation: spin 5s infinite linear;
  animation: spin 5s infinite linear;
  -webkit-animation-play-state: running;
  animation-play-state: running;
  }
  
  .cube div {
  position: absolute;
  width: 400px;
  height: 400px;
  text-align: center;
  
  }

  .front img{
    height: 400px;
  }
  

  .back img{
    height: 400px;
  }
  

  .left img{
    height: 400px;
  }
  
  .right img{
    height: 400px;
  }
  
  .top img{
    height: 400px;
  }
  

  .bottom img{
    height: 400px;
  }
  

  .back {
  -webkit-transform: translateZ(-200px) rotateY(180deg);
  transform: translateZ(-200px) rotateY(180deg);
  background: transparent;
  opacity: 1;

  }
  
  
  .right {
  -webkit-transform: rotateY(-270deg) translateX(200px);
  transform: rotateY(-270deg) translateX(200px);
  -webkit-transform-origin: center right;
  transform-origin: center right;
  background: transparent;
  opacity: 1;
  font-family: cursive3;
  }

  .left {
  -webkit-transform: rotateY(270deg) translateX(-200px);
  transform: rotateY(270deg) translateX(-200px);
  -webkit-transform-origin: center left;
  transform-origin: center left;
  background: transparent;
  opacity: 1;
  }
  .top {
  -webkit-transform: rotateX(-90deg) translateY(-200px);
  transform: rotateX(-90deg) translateY(-200px);
  -webkit-transform-origin: top center;
  transform-origin: top center;
  opacity: 1;
  }
  .bottom {
  -webkit-transform: rotateX(90deg) translateY(200px);
  transform: rotateX(90deg) translateY(200px);
  -webkit-transform-origin: bottom center;
  transform-origin: bottom center;
  opacity: 1;
  }
  .front {
  -webkit-transform: translateZ(200px);
  transform: translateZ(200px);
  background: transparent;
  opacity: 1;
  }
  
  @-webkit-keyframes spin {
  from { -webkit-transform: rotateY(0); }
  to { -webkit-transform: rotateY(360deg); }
  }
  
  @keyframes spin {
  from { transform: rotateY(0); }
  to { transform: rotateY(360deg); }
  }
  
  .cube:hover {        
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  }

h1{
  font-family: japan;
  font-size: 20px;
  color: white;
  letter-spacing: 6px;
  margin-top: 5%;
}

h2{
  font-family: cursive3;
  font-size: 20px;
  color: rgb(255, 241, 118);
  letter-spacing: 4px;
  margin-top: 40px;
  margin-bottom: 5%;
}
 


  p{
    text-align: justify;
		letter-spacing: 3px;
    display: inline-block;
    font-family: cloud;
    font-size: 40px;
    margin: 3%;
    opacity: 100%;
  }


  .description{
    box-shadow: 0 0 20px rgb(255, 246, 179, 0.5);
    border-width: 40px;
    border: rgb(255, 246, 179);
    border-style: dashed;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5%;
    background-color: rgba(0, 0, 0,  0.7);
    }

  section {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
  }
  .key {
    flex: 1px;
    min-width: 25%;
  }

  .key img{
    width:75%;
    height:75%;
    object-fit: contain;
    overflow: hidden;
  }
  
  .key img:last-child {
    display: none;  
  }
  .key:hover img:last-child {
    display: block;  
  }
  .key:hover img:first-child {
    display: none;  
  }

  footer{
    position: relative;
    float: right;
    z-index: 10;
    bottom: 0;
    right: 0.5vw;
    font-family: cloud;
    font-size: 2vw;
    color: white;
    text-align: right;
    letter-spacing: 3px;
  }