@font-face {
    font-family: 'cursive3';
    src: url('cursive/Cursive.ttf');
          font-weight: normal;
          font-style: normal;
  }
  
  @font-face {
    font-family: 'cloud';
    src: url('cloude/Cloude_Regular_1.02.otf');
          font-weight: normal;
          font-style: normal;
  }
  
  @font-face {
    font-family: 'japan';
    src: url('japanese/PixelMplus10-Regular.ttf');
          font-weight: normal;
          font-style: normal;
  }
  
  
  html, body{ 
  
    font-family: cursive3;
    text-align: center;
    color: black;
    caret-color: transparent;
    height: 100%;
    margin: 0;
  }




  .poem p{
	line-height: 10px;
	text-align: left;
	margin-left: 2%;
}
.poem p a{
	text-decoration: none;
	color: rgb(0, 0, 0);
	font-family: cloud;
	font-size: 50px;
	text-align: left;
	letter-spacing: 3px;
}


@keyframes blink {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  .typewrite{
    color: rgb(0, 0, 0);
    padding: 1%;
    border: none;
    background: none;
    font-family: cloud;
    font-size: 40px;
    display: block;
    font-style: normal;
    margin: 0;
    padding: 0;
    text-decoration: none;
    cursor: url('https://github.com/itsyunotyou/uthanized/blob/94352c7f3c4450c3ed66f74528eae64f85d05826/whee/stronglight.png?raw=true'), auto;
    letter-spacing: 3px;
  }
  .typewrite:after {
    content: '_';
    -webkit-animation: blink 400ms linear infinite alternate;
    animation: blink 400ms linear infinite alternate;
  }
  

  @import url('https://fonts.googleapis.com/css?family=Patrick+Hand+SC');

  .App {
    font-family: 'Patrick Hand SC', cursive;
    text-align: center;
  }

  svg {
    height: 80vh;
    width: 80vw;
  }

  .heading {
    font-size: 48px;
    color: #281616;
  }

  .petal:hover {
    fill: #C1A1A1;
    transition: 0.2s ease;
    -webkit-transition: 0.3s ease;
  }
