@font-face {
    font-family: 'cursive3';
    src: url('cursive/Cursive.ttf');
          font-weight: normal;
          font-style: normal;
  }
  
  @font-face {
    font-family: 'cloud';
    src: url('cloude/Cloude_Regular_1.02.otf');
          font-weight: normal;
          font-style: normal;
  }
  
  @font-face {
    font-family: 'japan';
    src: url('japanese/PixelMplus10-Regular.ttf');
          font-weight: normal;
          font-style: normal;
  }
  
  
  html, body{ 
  
    font-family: cursive3;
    text-align: center;
    color: black;
    caret-color: transparent;
    height: 100%;
    margin: 0;
  }



.flower-container{
  position: absolute;
  top: 200px;
  left: 200px;
  border: 1px solid red;
  height: 400px;
  width: 400px;
}

.petal-container{
  position: absolute;
  height: 400px;
  width: 400px;
  transform: rotate(45deg);
  animation: spin 1s;


}



.petal-container-wrapper{
  position: absolute;
  height: 400px;
  width: 400px;

}

.petal{
  height: 100px;
  width: 100px;
  background-color: purple;
  position: absolute;
  transform: rotate(180deg);
  border-radius: 0 50% 50% 50%;

  overflow: hidden;
  animation: spin 10s linear infinite;

}

.flower-center{
  height: 200px;
  width: 200px;
  position: absolute;
  background-color: lemonyellow;
  border: 1px solid yellow;
  border-radius: 50%;
  top: 100px;
  left: 100px;
}

@keyframes spin{
  0%{
    transform: rotate(0deg);
  
  }

  100%{
    transform: rotate(360deg);
  }
}
