@font-face {
    font-family: 'cursive3';
    src: url('cursive/Cursive.ttf');
          font-weight: normal;
          font-style: normal;
  }
  
  @font-face {
    font-family: 'cloud';
    src: url('cloude/Cloude_Regular_1.02.otf');
          font-weight: normal;
          font-style: normal;
  }
  
  @font-face {
    font-family: 'japan';
    src: url('japanese/PixelMplus10-Regular.ttf');
          font-weight: normal;
          font-style: normal;
  }
  
  
  html, body{ 
  
    font-family: cursive3;
    text-align: center;
    color: white;
    caret-color: transparent;
    height: 100%;
    margin: 0;
    background-image: url(back/felt.jpeg);
    background-size: cover;
  }


.flower-container{
  position: absolute;
  top: 200px;
  left: 200px;
  height: 400px;
  width: 400px;
}

.petal-container{
  position: absolute;
  height: 400px;
  width: 400px; 
  animation: spin 10s linear infinite;
  pointer-events: none;
}



.petal-container-wrapper{
  position: absolute;
  height: 400px;
  width: 400px;
  pointer-events: none;

}


.petal{
  height: 200px;
  width: 200px;
  background-image: url(chain/petal.png);
  background-size:contain;
  position: absolute;
  transform: rotate(180deg);
  overflow: hidden;
  pointer-events: auto;

}

.flower-center{
  height: 200px;
  width: 200px;
  position: absolute;
  background-image: url(chain/center.png);
  background-size:contain;
  top: 100px;
  left: 100px;
  z-index: 1;
  animation: reverse spin 10s linear infinite;

}

@keyframes spin{
  0%{
    transform: rotate(0deg);
  
  }

  100%{
    transform: rotate(360deg);
  }
}

.flower-container{
  animation: 0.8s appear ease-in-out;
}

@keyframes appear {
  0%{
    transform: scale(0);
  }
}

.disappears{
  animation: disappear 1s ease-in-out;
}

@keyframes disappear{
  100%{
    transform: scale(0);
  }
}

h2{
  top: 60%;
  left: 70%;
  position: absolute;
  font-family: cursive3;
  font-size: 3em;
}

input[type="checkbox"] {
  content: url('whee/haato.png');
  display: block;
  left: 70px;
  width: 200px;
  height: 200px;
}
input[type="checkbox"]:checked {
  content: url('whee/byhaato.png');
}
.native-hidden {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
