html, body{
  margin:0;
  cursor: url('https://github.com/itsyunotyou/uthanized/blob/94352c7f3c4450c3ed66f74528eae64f85d05826/whee/light.png?raw=true'), auto;
  caret-color: transparent;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  margin: 0;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; 
  
}

.no-webp html, body {
  background-image: url("back/grass.JPG");
  background-attachment: fixed;
  background-size: cover;
  background-color: black;
}

.webp html, body{
  background-image: url("back/grass.webp");
  background-attachment: fixed;
  background-size: cover;
  background-color: black;
}


@font-face {
  font-family: 'cursive3';
  src: url('cursive/Cursive.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'cloud';
  src: url('cloude/Cloude_Regular_1.02.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
  


h2{
  font-family: cloud;
  font-size: 45px;
  font-weight: normal;
  color: rgb(255, 241, 118);
  letter-spacing: 4px;
  margin: 0;
  padding-left: 0vw;
}



button, p{
  border: none;
  background: none;
  font-family: cloud;
  color: aliceblue;
  font-size: 40px;
  display: block;
  font-style: normal;
  margin: 0;
  padding: 0;
  text-decoration: none;
  cursor: url('https://github.com/itsyunotyou/uthanized/blob/94352c7f3c4450c3ed66f74528eae64f85d05826/whee/stronglight.png?raw=true'), auto;
  letter-spacing: 3px;
}

p{
  color: rgb(168, 179, 255);
}

@keyframes blink {
  from { opacity: 0; }
  to { opacity: 1; }
}

.typewrite{
  border: none;
  background: none;
  font-family: cloud;
  font-size: 2vw;
  display: block;
  font-style: normal;
  margin: 0;
  text-decoration: none;
  cursor: url('https://github.com/itsyunotyou/uthanized/blob/94352c7f3c4450c3ed66f74528eae64f85d05826/whee/stronglight.png?raw=true'), auto;
  letter-spacing: 3px;
  color: rgb(247, 255, 205);
  padding-top: 5vh;
  padding-left: 5vw;
}
.typewrite:after {
  content: '_';
  -webkit-animation: blink 400ms linear infinite alternate;
  animation: blink 400ms linear infinite alternate;
}


a, a:hover {
  text-decoration: none;
  cursor: url('https://github.com/itsyunotyou/uthanized/blob/94352c7f3c4450c3ed66f74528eae64f85d05826/whee/stronglight.png?raw=true'), auto;
 }

button:hover, a:hover, button:link, button:active{
  color: rgb(255, 246, 179);
  cursor: url('https://github.com/itsyunotyou/uthanized/blob/94352c7f3c4450c3ed66f74528eae64f85d05826/whee/stronglight.png?raw=true'), auto;
}


.menu{
  padding-top: 5vh;
  padding-left: 5vw;
}

.typewrite :hover{
  color: rgb(248, 0, 0);
}




#tv_container {
  width: 400px; /* Adjust TV image width */
  height: 300px; /* Adjust TV image height */
  position: relative;
  
}
#tv_container:after {
  content: '';
  display: block;
  background: url('https://github.com/itsyunotyou/uthanized/blob/2b771ac02e34ab57538a4bc833e8aadf0bb64d3e/back/tv.png?raw=true') no-repeat top left transparent;
  width: 500%;
  height: 500%;
  left: -40px;
  top: -600px;
  transform: scale(0.26);
  position: absolute;
  z-index: 10;
}
#tv_container video {
  position: absolute;
  top: 0px; /* Adjust top position */
  left: 720px; /* Adjust left position */
  z-index: 5;

}



/* use :target to look for a link to the overlay then we find our mask */
#overlay:target, #overlay:target + #mask{
    opacity:1;
    position: absolute;
}
.close{ /* to make a nice looking pure CSS3 close button */
    position: absolute;
    top: 0px;
    right: -50px;
    color:white;
    height:20px;
    width:20px;
    line-height:40px;
    font-size:35px;
    text-decoration:none;
    text-align:center;
    -webkit-border-radius:40px;
    -moz-border-radius:40px;
    -o-border-radius:40px;
    border-radius:40px;
    font-family: cloud;
}

.wet{
  position: absolute;
  z-index: 3;
  height: 500px;
  left: 800px;
  top: 180px;
}

.wet img{
  height: 80%;
  transform: rotate(10deg);
}

.overlay {
	position: absolute;
  z-index: 20;
	top: 0;
	bottom: 0;
  left: 0;
  background: white(0,0,0,0.5);
	transition: opacity 200ms;
  visibility: hidden;
	opacity: 0;

  }





  .cancel {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: default;
  }
 



.overlay:target{
  visibility: visible;
  opacity: 1;
}

.popup {
	padding: 10px;
	background: transparent;
	width: 850px;
	box-shadow: 0 0 20px rgb(255, 246, 179, 0.5);
  border-width: 10px;
  border: rgb(255, 246, 179);
  border-style: dashed;
	position: absolute;
  z-index: 20;
  top: 30px;
  left: 500px;

  }

  .close {
    width: 70px;
    height: 70px;
    top: 5px;
    right: -10px;
    opacity: 0.8;
    transition: all 200ms;
    font-size: 50px;
    text-decoration: none;
    color: white;
    cursor: url('https://github.com/itsyunotyou/uthanized/blob/94352c7f3c4450c3ed66f74528eae64f85d05826/whee/light.png?raw=true'), auto;

  }

  .close:hover{
    color: rgb(255, 0, 0);
  }

  .content {
    max-height: 400px;
    width: 800px;
    overflow: auto;
  }

  .content p {
    font-family: cloud;
    font-size: 1vw;
    color: white;
    text-align: justify;
    line-height: 70%;
    letter-spacing: 1px;
  }


  footer{
    position: absolute;
    float: right;
    z-index: 10;
    bottom: 0;
    right: 0.5vw;
    font-family: cloud;
    font-size: 1vw;
    color: white;
    text-align: right;
    letter-spacing: 3px;
  }

  

  #load{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height:100%;
    position:fixed;
    z-index:9999;
    background:url("whee/bin.png") no-repeat center center rgba(0,0,0,0.25)
}


.bin{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.bin img{
  height:80vh;
  
}