html, body{
    margin:0;
    overflow: hidden;
    background-color: black;
    height: 100vh;
    width: 100vw;
    
  }
  
  
@font-face {
font-family: 'cursive3';
src: url('cursive/Cursive.ttf');
        font-weight: normal;
        font-style: normal;
    }

@font-face {
font-family: 'cloud';
src: url('cloude/Cloude_Regular_1.02.ttf');
        font-weight: normal;
        font-style: normal;
    }
    
@keyframes blink {
    from { opacity: 0; }
    to { opacity: 1; }
    }
    
.typewrite{
    border: none;
    background: none;
    font-family: cloud;
    font-size: 100px;
    display: block;
    font-style: normal;
    margin: 0;
    text-decoration: none;
    cursor: url('https://github.com/itsyunotyou/uthanized/blob/94352c7f3c4450c3ed66f74528eae64f85d05826/whee/stronglight.png?raw=true'), auto;
    letter-spacing: 3px;
    color: rgb(247, 255, 205);
    padding-top: 1vh;
    padding-left: 3vw;
}
.typewrite:after {
    content: '_';
    -webkit-animation: blink 400ms linear infinite alternate;
    animation: blink 400ms linear infinite alternate;
}
        
footer{
    position: fixed;
    float: right;
    z-index: 10;
    right: 1vw;
    bottom: 0;
    font-family: cloud;
    font-size: 40px;
    color: white;
    text-align: right;
    letter-spacing: 3px;
}  

.bin{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bin img{
    height:80vh;
    
}