@font-face {
	font-family: 'cursive3';
	src: url('cursive/Cursive.ttf');
		  font-weight: normal;
		  font-style: normal;
  }
  
  @font-face {
	font-family: 'cloud';
	src: url('cloude/Cloude_Regular_1.02.otf');
		  font-weight: normal;
		  font-style: normal;
  }
  

  html, body{ 

	font-family: cursive3;
	text-align: center;
	cursor: url('whee/stronglight.png'), auto;
	caret-color: transparent;
	height: 100%;
	margin: 0;
  }


.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	margin: 0;
  }

#sweet{
	width: 40%;
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
}



.poem p{
	line-height: 10px;
	text-align: left;
	margin-left: 10%;
}
.poem p a{
	text-decoration: none;
	color: rgb(241, 255, 40);
	font-family: cloud;
	font-size: 50px;
	text-align: left;
	letter-spacing: 3px;
}


#slideshow {
    display: flex;
    margin: 50px auto;
    width: 70%;
    height: 70%;
}

#slides {
    position: relative;
    width: 83%;
    overflow: hidden;
}

#gallery {
    position: relative;
    width: 17%;
    overflow: hidden;
	overflow-y: scroll
}

#slides img,
#gallery img {
    width: 100%;
    height: 100%;
}

.slide {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.4s linear;
}

.slide.show {
    opacity: 1;
    z-index: 1000;
}

.thumbnail {
    height: 105px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}




.next {
    right: 0;
}

.prev {
    left: 0;
}



@media screen and (max-width: 768px) {
    #slides {
        width: 100%;
    }

    #gallery {
        display: none;
    }
}

