html, body{
  margin:0;
  cursor: url('whee/target.png'), auto;
}

@font-face {
  font-family: 'moji';
  src: url('moji/KikaiChokokuJIS-Md.otf');
        font-weight: normal;
        font-style: normal;
      }

@font-face {
  font-family: 'cloud';
  src: url('cloude/Cloude_Regular_1.02.otf');
        font-weight: normal;
        font-style: normal;
      }



.home img{
  height: 100px;
}

.home{
  position: fixed;
  display: absolute;
  z-index: 20;
  top: 20px;
  right: 20px;
  cursor: url('https://github.com/itsyunotyou/uthanized/blob/3b4eca557d423b5689cae77c6f8012d3044257ff/whee/target.png?raw=true'), auto;
  height: 100px;
}

.home :link{
  cursor: url('https://github.com/itsyunotyou/uthanized/blob/3b4eca557d423b5689cae77c6f8012d3044257ff/whee/target.png?raw=true'), auto;
}

.home :active{
  cursor: url('https://github.com/itsyunotyou/uthanized/blob/3b4eca557d423b5689cae77c6f8012d3044257ff/whee/target.png?raw=true'), auto;
}


.home :hover{
  content: url('https://github.com/itsyunotyou/uthanized/blob/3b4eca557d423b5689cae77c6f8012d3044257ff/whee/brokenheart.png?raw=true');
  height: 100px;
  position: fixed;
  display: absolute;
  z-index: 20;
  top: 20px;
  right: 20px;
  cursor: url('https://github.com/itsyunotyou/uthanized/blob/3b4eca557d423b5689cae77c6f8012d3044257ff/whee/target.png?raw=true'), auto;
}




@media (orientation: landscape) {
  .bgvideo {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

@media (orientation: portrait) {
  .bgvideo {
    transform: rotate(90deg);

    transform-origin: bottom left;
    width: 100vw;
    height: 100vh;
    margin-top: -100vw;
    object-fit: cover;
    width: 100vh;
    height: 100vw;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

  

.over{
  position: absolute;
  z-index: 10;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.grid {  
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 96vh;
    

    }

  .grid .ya {
    height: 12.5rem;
    width: 12.5rem;
    margin: 0.5rem;
    overflow: hidden;
  }

  .grid .ya video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    outline: none;
    border: none;
    cursor: url('https://github.com/itsyunotyou/uthanized/blob/3b4eca557d423b5689cae77c6f8012d3044257ff/whee/target.png?raw=true'), auto;

    }


    .grid .ya video:hover{
      transition: .2s linear;
    }


    .grid .ya .active{
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 80%;
      width: auto;
      z-index: 1;
      box-shadow: 0 0 0 100vh rgba(0, 0, 0, 0.9);
      
    }
 
    .grid .ya .active:hover{
      transition: none;
      transform: translate(-50%, -50%) scale(1);

    }

    .grid .links {
      display: none;
  }
  
    .grid .links:target {
      position: absolute;
      z-index: 20;
      display: block;
      color: white;
      top: 0;
      left: 20px;
      margin: 0;
      font-family: cloud;
      caret-color: transparent;
      
    }

    .grid .ya .active .grid .links:target{
      display: none;
    }
  
    h1{
      font-size: 45px;
      line-height: 0;
      letter-spacing: 3px;
      font-weight: normal;
    }

    p{
      font-size: 30px;
      line-height: 0;
      margin-bottom: -10px;
      letter-spacing: 3px;
    }

    footer{
      position: relative;
      float: right;
      z-index: 10;
      bottom: 0;
      font-family: cloud;
      font-size: 32px;
      color: white;
      text-align: right;
      letter-spacing: 3px;
    }