html, body{
  margin:0;
  cursor: url('whee/target.png'), auto;
}

@font-face {
  font-family: 'moji';
  src: url('moji/KikaiChokokuJIS-Md.otf');
        font-weight: normal;
        font-style: normal;
      }

@font-face {
  font-family: 'cloud';
  src: url('cloude/Cloude_Regular_1.02.otf');
        font-weight: normal;
        font-style: normal;
      }



.home img{
  height: 100px;
}

.home{
  position: fixed;
  display: absolute;
  z-index: 20;
  top: 20px;
  right: 20px;
  cursor: url('whee/target.png'), auto;
  height: 100px;
}

.home :link{
  cursor: url('whee/target.png'), auto;
}

.home :active{
  cursor: url('whee/target.png'), auto;
}


.home :hover{
  content: url(whee/brokenheart.png);
  height: 100px;
  position: fixed;
  display: absolute;
  z-index: 20;
  top: 20px;
  right: 20px;
  cursor: url('whee/target.png'), auto;
}


.bgvideo {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
}

.over{
  position: absolute;
  z-index: 10;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.grid {  
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;

    }

  .grid .ya {
    height: 12.5rem;
    width: 12.5rem;
    margin: 0.5rem;
    overflow: hidden;
  }

  .grid .ya video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    outline: none;
    border: none;
    cursor: url('whee/target.png'), auto;

    }


    .grid .ya video:hover{
      transition: .2s linear;
    }


    .grid .ya .active{
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 80%;
      width: auto;
      z-index: 1;
      box-shadow: 0 0 0 100vh rgba(0, 0, 0, 0.9);
      
    }
 
    .grid .ya .active:hover{
      transition: none;
      transform: translate(-50%, -50%) scale(1);

    }

    .grid .links {
      display: none;
  }
  
    .grid .links:target {
      position: absolute;
      z-index: 20;
      display: block;
      color: white;
      top: 0;
      left: 20px;
      margin: 0;
      font-family: cloud;
      caret-color: transparent;
      
    }

    .grid .ya .active .grid .links:target{
      display: none;
    }
  
    h1{
      font-size: 45px;
      line-height: 0;
      letter-spacing: 3px;
      font-weight: normal;
    }

    p{
      font-size: 30px;
      line-height: 0;
      margin-bottom: -10px;
      letter-spacing: 3px;
    }