body {
    margin: 0;
    padding: 0;
    background-size: cover;
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: fixed;
    overflow: hidden;
    
  }
  
  #wordDisplay {
    display: none;
    position: absolute;
    z-index: 100;
  }